.Character {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 200px;
  flex: 1 1 auto;
  transition: opacity 1000ms ease-in-out, visibility 0ms linear 1000ms;
}

.Character.size-medium {
  flex: 2 1 auto;
  max-width: 300px;
  min-width: 175px;
}

.Character.size-large {
  min-width: 200px;
  flex: 3 1 auto;
  max-width: 400px;
}

.Character.isDead {
  opacity: 0;
  visibility: hidden;
}

.Character .vitals {
  position: relative;
}

.Character .number {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.1rem;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  transition: all 200ms ease-in-out, visibility 0ms linear;
}

.Character .number.damage,
.Character .number.heal {
  font-size: 2.5rem;
  opacity: 1;
  visibility: visible;
}

.Character .number.damage {
  color: var(--damage-number);
}

.Character .number.heal {
  color: var(--heal-number);
}

.Character img {
  width: 100%;
}

.Character .tooltiptext {
  top: 50% !important;
  width: 70%;
}

.Character .Bar {
  width: 50%;
  margin: auto;
}