.ItemCard {
  height: 120px;
  width: 80px;
  margin: 5px;
  position: relative;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 1px 2px;
  background: #dcdcdc;
}

.ItemCard.disabled {
  background: #a2a2a2;
}

.ItemCard div {
  text-align: center;
}

.ItemCard img {
  width: 100%;
}

.ItemCard .icons {
  position: absolute;
  bottom: 0;
  left: 0;
}

.ItemCard .icons img {
  width: auto;
  vertical-align: bottom;
  border-radius: 50%;
}

.ItemCard .item-actions {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.ItemCard .price {
  display: block;
}

.ItemCard .price img {
  width: 25px;
  margin: 0 -8px;
  vertical-align: middle;
  padding: 0;
}

.ItemCard .tooltiptext {
  top: 0 !important;
  transform: translate(-50%, -55px) !important;
  width: 95%;
  max-height: 88px;
}