.Button {
  position: relative;
  background: transparent;
  border: none;
  padding: 8px;
  border-radius: 3px;
  color: var(--lighter);
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 0.8rem;
  cursor: pointer;
  transition: color 100ms ease-in-out;
}

.Button:disabled:not(.primary):not(.secondary):not(.destructive) {
  color: var(--disabled-state);
}

.Button:not(.primary):not(.secondary):not(.destructive):not(:disabled):hover {
  color: var(--disabled-state);
}

.Button:disabled {
  cursor: not-allowed;
}

.Button.primary {
  background: var(--primary);
}

.Button.primary:hover {
  background: var(--primary-hover);
}

.Button.secondary {
  background: var(--secondary);
}

.Button.secondary:hover {
  background: var(--secondary-hover);
}

.Button.destructive {
  background: var(--destructive);
}

.Button.destructive:hover {
  background: var(--destructive-hover);
}

.Button.primary:disabled,
.Button.secondary:disabled,
.Button.destructive:disabled {
  background: var(--disabled-state);
}

.Button.primary:disabled:hover,
.Button.secondary:disabled:hover,
.Button.destructive:disabled:hover {
  background: var(--disabled-state);
}