.bgContainer {
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#PortalContainer .ModalContainer.shown:not(:first-child) .Modal {
  z-index: 101;
}

#PortalContainer .ModalContainer.shown:not(:first-child) .ModalBackground {
  z-index: 100;
}