@import "colors.css";

@font-face {
  font-family: 'Cup And Talon';
  src: url('./assets/fonts/Cup\ and\ Talon.ttf') format('truetype');
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Cup And Talon';
  font-size: 24px;
}

section {
  border: 1px solid black;
  box-sizing: border-box;
  background: rgba(196, 196, 196, 0.7);
}

section h3 {
  margin: 5px;
  align-self: flex-start;
}

@media screen and (max-width: 634px) {
  /* Make sure each section is full width once wrapped */
  section {
    min-width: 100% !important;
  }

  /* Make the map closer to the actions & vitals on small screens */
  .Display {
    order: 2;
  }
}