.MainMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.MainMenu .menu-select {
  display: flex;
  flex-direction: column;
}

.MainMenu .menu-select button {
  min-width: 200px;
  margin-bottom: 20px;
}

.MainMenu .menu-select .tooltiptext {
  top: -50%;
  width: 100%;
}

.MainMenu .version {
  position: fixed;
  bottom: 10px;
  right: 10px;
}